body {
    background-color: black;
    color: #FFFFFF;
}

div.spinner {
    display: grid;
    place-items: center;
    margin-top: 7rem;
}

.main-nav a button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-layout {
    display: grid;
    justify-content: center;
    margin: 1em;
    display: flex;
    flex-direction: row;
    grid-template-rows: auto auto 1fr auto auto;
    width: 100%;
}

.sidebar-container {
    /* border: solid 1px red; */
    min-width: 300px;
}

img.trending-poster {
    width: 145px;
}

.feed-container, .single-post-container {
    max-width: 600px;
    flex-grow: 1;
    margin-bottom: 5rem;
}

div.field {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: flex-start;
    margin-block: 2rem;
}

button.ui.orange.inverted.button {
    margin: 2px;
}

div.content {
    margin: 0.5rem;
    color: grey;
}