body {
    background-color: black;
    color: #FFFFFF;
}

div.spinner {
    display: grid;
    place-items: center;
    margin-top: 7rem;
}

.main-nav a button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-layout {
    display: grid;
    height: 86vh;
    margin: 1em;
    display: flex;
    flex-direction: row;
    grid-template-rows: auto auto 1fr auto auto auto;
    gap: 24px;
  
}

.sidebar-container {
    border: solid 1px red;
    /* width: 100%; */
    flex-grow: 1;
}

.feed-container, .single-post-container {
    flex-grow: 1;
}

div.field {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: flex-start;
    margin-block: 2rem;
}

button.ui.orange.inverted.button {
    margin: 2px;
}

div.content {
    margin: 0.5rem;
    color: grey;
}